/* favorites-dialog.component.scss */

.favorites-dialog {
    padding: 20px;
  }
  
  .favorites-dialog-title {
    color: #007bff; /* Adjust the title color as needed */
    margin-bottom: 10px;
  }
  
  .favorites-dialog-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  