<div class="movie-page">
  

<button mat-button color="primary" (click)="goToWelcome()">Welcome</button>
<button mat-button color="primary" (click)="goToProfile()">Profile</button>


  <div class="movie-view">
    <mat-card *ngFor="let movie of movies" class="movie-card">
      <mat-toolbar-row>
        <span>{{ movie.Title }}</span>
        <span class="spacer"></span>
        <button mat-icon-button aria-label="Toggle favorite"
          [ngClass]="isFavoriteMovie(movie._id) ? 'mat-flat-button' : 'mat-icon-button'"
          (click)="toggleFavoriteMovie(movie._id)" [color]="isFavoriteMovie(movie._id) ? 'accent' : 'warn'">
          <mat-icon>{{ isFavoriteMovie(movie._id) ? 'favorite' : 'favorite_border' }}</mat-icon>
        </button>
      </mat-toolbar-row>
      <img [src]="movie.Images" alt="{{ movie.Title }}" />

      <mat-card-actions>
        <button mat-button (click)="openGenre(movie.Genres)" aria-label="View Genres" color="basic">
          Genre
        </button>
        <button mat-button color="basic" (click)="openDirector(movie.Director[0])">
          Director
        </button>
        <button mat-button color="basic" (click)="openSynopsis(movie.Title, movie.Description)">
          Synopsis
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>