<div class="movie-card container">
  <app-navigation></app-navigation>

  <div class="welcome-profile-buttons">
    <button mat-button color="primary" (click)="goToWelcome()">Welcome</button>
    <button mat-button color="primary" (click)="goToProfile()">Profile</button>
  </div>

  <div class="spacer"></div> <!-- Added spacer between buttons and movie cards -->

  <div class="movie-view">
    <div class="movie-list">
      <div *ngFor="let movie of movies" class="single-movie-card">
        <mat-card class="movie-card-content">
          <mat-toolbar-row>
            <span>{{ movie.Title }}</span>
            <span class="spacer"></span>
          </mat-toolbar-row>
          <img [src]="movie.Images" alt="{{ movie.Title }}" />

          <mat-card-actions>
            <button mat-button (click)="openGenre(movie.Genre)" aria-label="View Genres" color="basic">
              Genre
            </button>

            <button mat-button color="basic"
              (click)="openDirector(movie.Director[0].name, movie.Director[0].description)">
              Director
            </button>

            <button mat-button color="basic" (click)="openSynopsis(movie.Title, movie.Description)">
              Synopsis
            </button>

            <button mat-icon-button color="primary" (click)="openAddFavorites(movie)"
              *ngIf="showAddToFavoritesButton(movie)">
              <mat-icon>favorite</mat-icon>
            </button>
          </mat-card-actions>

        </mat-card>
      </div>
    </div>
  </div>
</div>
